<p id="notice"><%= notice %></p>

<h1>Products</h1>




    <% @products.each do |product| %>
    <div class="well">
        <%= product.name %>
        <%= product.price %>
        <%= link_to 'Show', product, class:'btn btn-default' %>
        <%= link_to 'Edit', edit_product_path(product), class:'btn btn-primary' %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>


    </div>
  <% end %>
<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
